ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 30px;
}
ul li {
  display: inline-block;
}
ul li a {
  color: white;
  background: rgb(255, 72, 39);
  padding: 10px 25px;
}